
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

<style>
 body{
  
  font-family: 'Poppins', sans-serif;
}

.head{
position: fixed;
background: #004990;
padding: 20px;
width: 100%;
height: 65px;
left: 0%;
top: 0%;
}
.titulo
{
  position: absolute;
  padding: 20px;
  height: 60px;
  left: 0%;
  top: 0%;
}
.amb
{
  position: absolute;
  padding: 20px;
  height: 60px;
  left: 0%;
  top: 0%;
}

.left_area h3{
color: #fff;

text-transform: uppercase;
font-size: 28px;
font-weight: 900;
}

.left_area span{
color: #19B3D3;
}

.sidebar {
background: #29aae1;
margin-top: -16px;
padding-top: 30px;
position: fixed;
left: 0;
width: 250px;
height: 100%;
transition: 0.5s;
transition-property: left;

}



.sidebar h4{
color: #ccc;
margin-top: 0;
margin-bottom: 20px;
}

.sidebar a{
color: #fff;
display: block;
width: 100%;
line-height: 60px;
text-decoration: none;
padding-left: 40px;
box-sizing: border-box;
transition: 0.5s;

}

.sidebar a:hover{
background: #00489073;
}

.sidebar i{
padding-right: 10px;
}

label #sidebar_btn{
z-index: 1;
color: #fff;
position: fixed;
cursor: pointer;
left: 228px;
font-size: 20px;
margin: 5px 0;
transition: 0.5s;
transition-property: color;
margin-top: -9px;
}

label #sidebar_btn:hover{
color: #19B3D3;
}

#check:checked ~ .sidebar{
left: -190px;
}

#check:checked ~ .sidebar a span{
display: none;
}

#check:checked ~ .sidebar a{
font-size: 20px;
margin-left: 170px;
width: 80px;
}

.content{
margin-left: 350px;
margin-top: 80px;
margin-right: 150px;
background: #FAFAFA;
padding: 1%;
border-radius: 15px;

box-shadow: 1px 1px 5px rgb(170, 165, 165);
}





#check:checked ~ .content{
margin-left: 200px;
margin-right: 300px;
}

#check{
display: none;
}

.color
{
  background: #D1E7DD;
  padding: 0.3%;
  font-size: 25px;
  
}
.content2{
  margin-left: 350px;
margin-top: 20px;
margin-right: 150px;
background: #FAFAFA;
padding: 1%;
border-radius: 15px;

box-shadow: 1px 1px 5px rgb(170, 165, 165);
}
#check:checked ~ .content2{
margin-left: 200px;
margin-right: 300px;

}


      
</style>

<body>
  <input type="checkbox" id="check">
  <div class="head">
    
  </div>
  <div class="titulo">
  
    <div class="left_area">
      <h3 >BANCO <span>UNIÓN</span></h3>
    </div>
  </div>
  <div class="amb">
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
  </div>
     
    
    
    <div class="sidebar">

      <a routerLink="/domains"><i class="fas fa-bookmark"></i><span> Dominios</span></a>
      <a routerLink="/users"><i class="fas fa-user"></i><span>Usuarios</span></a>
      
      <a routerLink="/formulariofiltrar"><i class="fas fa-calendar-alt"></i><span>Reportes</span></a>
      <a  href="" ><i class="fas fa-exclamation-triangle" (click)="onLogout()"></i><span>Cerrar Sesión</span></a>
    </div>


    <div class="content">
      
      <div class="color">
        <div   class=" mb-3 "  >FILTRAR
        </div>
        </div>
        <br>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Fecha Inicial</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="dd/mm/aaaa">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Fecha Final</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="dd/mm/aaaa">
        </div>
        <hr>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Regional</label>
          <div class="mb-3">
            <select class="form-select" id="pais" required >
              <option selected disabled value="">Seleccione...</option>
              <option>La Paz</option>
              <option>Cochabamba</option>
              <option>Santa Cruz</option>
                </select>  
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Agencia</label>
          <div class="mb-3">
            <select class="form-select" id="pais" required >
              <option selected disabled value="">Seleccione...</option>
              <option>Agencia 1</option>
              <option>Agencia 2</option>
              <option>Agencia 3</option> 
                </select>  
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Área</label>
          <div class="mb-3">
            <select class="form-select" id="pais" required >
              <option selected disabled value="">Seleccione...</option>
              <option>Área 1</option>
              <option>Área 2</option>
              <option>Área 3</option> 
                </select>  
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Reporte Tipo de Encuesta</label>
          <div class="mb-3">
            <select class="form-select" id="pais" required >
              <option selected disabled value="">Seleccione...</option>
                    <option>Atención Rapida</option>
                    <option>Atención Completa</option>  
                </select>  
          </div>
        </div>
        
        
      </form>
      
    </div>
    <div class="content2">
      <div class="color">
        <div   class=" mb-3 "  >GENERAR</div>
      </div>
      <br>
      <div class="d-grid gap-2" >
        <button type="button" class="btn btn-success">Reporte en Excel</button>
        <button type="button" class="btn btn-danger">Reporte en PDF</button>
      </div>

    </div>

    


  
   

</body>